<section>
    <div class="container py-1 h-100">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <label class="form-label" for="customFile">Upload Picture</label>
                <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)"
                    formControlName="picture" />
                <div class="mt-4">
                    <div class="form-group">
                        <label for="boardingHouseName">Boarding House Name</label>
                        <input type="text" class="form-control" formControlName="housename"
                            placeholder="Enter your boarding house name" />
                    </div>

                    <div class="autocomplete-container" style="position: relative;">
                        <input type="text" [(ngModel)]="query" (input)="searchPlaces()" formControlName="address"
                            placeholder="Location" class="form-control" autocomplete="off" />
                        <div *ngIf="places.length > 0" class="dropdown" style="
                            position: absolute;
                            z-index: 1000;
                            background: white;
                            border: 1px solid #ccc;
                            width: 100%;
                            max-height: 200px; /* Set the desired height */
                            overflow-y: auto; /* Enable vertical scrolling */
                          ">
                            <div *ngFor="let place of places" (click)="selectPlace(place)" class="dropdown-item"
                                style="padding: 8px; cursor: pointer;">
                                {{ place.display_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roomsAvailable">Available Rooms</label>
                        <input type="number" class="form-control" formControlName="room"
                            placeholder="Number of available rooms" />
                    </div>

                    <div class="form-group">
                        <label for="priceRange">Price Range</label>
                        <input type="text" class="form-control" formControlName="price"
                            placeholder="Enter your room price range" />
                    </div>

                    <div class="form-group">
                        <label for="amenities">Amenities (Optional)</label>
                        <textarea class="form-control" formControlName="amenities"
                            placeholder="List amenities (Wi-Fi, AC, etc.)"></textarea>
                    </div>
                </div>

            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary mt-2">Add</button>
            </div>

        </form>
    </div>
</section>