<section class="m-3">
    <h1>Add Boarding House</h1>
    <hr>
    <div class="container py-1 h-100">
        <form [formGroup]="form" class="example-form p-1 text-center" (ngSubmit)="submitForm()"
        autocomplete="off">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <label class="form-label" for="customFile">Upload Picture</label>
                <hr>
                <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)"
                    formControlName="picture" />
                <hr>
                <div class="mt-4">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Boarding House </mat-label>
                            <input matInput formControlName="housename">
                        </mat-form-field>
                    </div>

                    <div class="autocomplete-container" style="position: relative;">
                        <input type="text" [(ngModel)]="query" (input)="searchPlaces()" formControlName="address"
                            placeholder="Location" class="form-control" autocomplete="off" />
                        <div *ngIf="places.length > 0" class="dropdown" style="
                            position: absolute;
                            z-index: 1000;
                            background: white;
                            border: 1px solid #ccc;
                            width: 100%;
                            max-height: 200px; /* Set the desired height */
                            overflow-y: auto; /* Enable vertical scrolling */
                          ">
                            <div *ngFor="let place of places" (click)="selectPlace(place)" class="dropdown-item"
                                style="padding: 8px; cursor: pointer;">
                                {{ place.display_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Room</mat-label>
                            <input matInput formControlName="room">
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label> Price</mat-label>
                            <input matInput formControlName="price">
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Amenities (Optional)</mat-label>
                            <textarea matInput formControlName="amenities"
                                placeholder="List amenities (Wi-Fi, AC, etc.)" rows="3"></textarea>
                        </mat-form-field>

                    </div>
                </div>

            </div>
            <div class=" ">
                <button type="submit" class="btn btn-primary mt-2 col-4 mx-2">Add</button>
                <button mat-dialog-close class="btn btn-danger mt-2  col-4 ">Close</button>
            </div>

        </form>
    </div>
</section>