<div class="container mt-4">
    <h1 class="text-center text-primary mb-4">Booking Reservation Form</h1>
    <form [formGroup]="form" class="example-form text-center" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-6">
                <hr>
                 <label for=""class="mb-1 text-danger">Upload Your Photo</label>
                <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)"
                    formControlName="picture" />
                <hr>
            </div>
            <div class="col-md-6 ">
                <hr>
                <mat-form-field appearance="outline">
                    <mat-label>FullName</mat-label>
                    <input matInput formControlName="fullname" required>
                </mat-form-field>
                <hr>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Select Gender</mat-label>
                    <mat-select formControlName="gender" required>
                        <mat-option [value]="null" disabled>Select Gender</mat-option>
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="Male">Male</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Room Type</mat-label>
                    <mat-select formControlName="roomtype" required>
                        <mat-option value="Shared Room">Shared Room</mat-option>
                        <mat-option value="Single Room">Single Room</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Guardian</mat-label>
                    <input matInput formControlName="Guardian" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label> Guardian Contact Number</mat-label>
                    <input matInput formControlName="IncaseofEmergency" required>
                </mat-form-field>
            </div>

            <div class="col-md-6 mb-2">
                <button type="submit" class="btn btn-primary btn-lg ">Book Now</button>
            </div>

        </div>


    </form>
</div>