<mat-dialog-content class="mat-typography  content edit">
    <header class="p-2 ">
        <i class="fa fa-user-plus fs-3 text-white" aria-hidden="true"></i>
        BoardingHouse UpdateForm
    </header>
    <hr>
    <div>
        <form [formGroup]="boardinghouseform">

            <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>HouseName</mat-label>
                <input matInput [ngModel]="data.comp.housename" formControlName="housename">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>Room</mat-label>
                <input matInput [ngModel]="data.comp.room" formControlName="room">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>Price</mat-label>
                <input matInput [ngModel]="data.comp.price" formControlName="price">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>Amenities</mat-label>
                <input matInput [ngModel]="data.comp.amenities" formControlName="amenities">
            </mat-form-field>
            <hr>
            <button (click)="SaveChanges()" mat-raised-button class="  col-md-12 text-dark savebtn">Save
                Changes</button>
            <button mat-raised-button [mat-dialog-close] class=" col-md-12 text-dark mt-2 closebtn">Cancel</button>
        </form>
    </div>
</mat-dialog-content>