 .admin-card {
     background-color: white;
     color: black;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     text-align: center;
     font-weight: bold;
     height: 150px;
     border-top: 5px solid #007bff;
     border-left: 2px solid #007bff;
 }


 /* Card Footer */
 .card-footer {
     display: flex;
     justify-content: center;
     padding: 10px;
     border-top: 1px solid rgba(255, 255, 255, 0.3);

 }

 hr {
     margin-top: 30px;
     margin-bottom: 40px;
 }

 .card-footer a {
     color: rgb(12, 12, 12);
     text-decoration: none;
     font-weight: bold;
 }

 .card-footer a:hover {
     text-decoration: underline;
 }

 /* Map Section */
 .map-title {
     text-align: center;
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 20px;
 }

 .dashboard-card {
     background: #fff;
     border-radius: 10px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

     text-align: center;
 }

 .dashboard-card h5 {
     font-size: 18px;
     color: #333;
     margin-bottom: 10px;
 }

 .dashboard-card h1 {
     font-size: 36px;
     font-weight: bold;
     color: #007bff;
 }


 .card-footer {

     padding: 10px;
     border-top: 2px solid #007bff;
     border-radius: 20px;
     border-bottom: 2px solid #007bff;
 }

 .card-footer a {
     text-decoration: none;
     color: #007bff;
     font-weight: bold;
 }

 .row2 {
     height: 400px;
     background: url('../../../assets/img/card-bg2.png');
     background-size: cover;
     border-radius: 20px;
     border-top: 5px solid #007bff;
     border-bottom: 2px solid #007bff;
 }