<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand ps-3" href="/main">
        <img src="../../../assets/img/logo.png" alt="Logo" class="img-fluid" style="max-height: 50px;">
        <span>StayFinder</span>
    </a>
    <button class="btn btn btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" (click)="toggleSidebar($event)">
        <i class="fas fa-bars text-white fs-6"></i> <span class="mx-3 fs-6 text-white">Overview</span>
    </button>

    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group"></div>
    </form>


</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark bgcolor" id="sidenavAccordion">

            <div class="sb-sidenav-menu shadow-lg">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading"></div>
                    <button type="button" class="btn btn-primary m-2" *ngIf="isUserOwner">
                        <i class=" sb-nav-link-icon fas fa-plus-circle mx-1"></i> Add Houses Rental
                    </button>

                    <div class="sb-sidenav-menu-heading"></div>
                    <a class="nav-link text-dark " routerLink="dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt text-dark"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link text-dark " routerLink="user" *ngIf="isUserAdmin">
                        <div class="sb-nav-link-icon"><i class="fas fa-users text-dark"></i></div>
                        User Management
                    </a>
                    <a class="nav-link text-dark " routerLink="boardinghouselist" *ngIf="isUserAdmin">
                        <div class="sb-nav-link-icon"><i class="fas fa-house-user text-dark"></i></div>
                        House Management
                    </a>

                    <a class="nav-link text-dark" routerLink="profile" *ngIf="isUserOwner">
                        <div class="sb-nav-link-icon"><mat-icon class="text-dark">account_circle</mat-icon></div>
                        Profile
                    </a>
                    <a class="nav-link text-dark" routerLink="map" *ngIf="isUserOwner">
                        <div class="sb-nav-link-icon"><mat-icon class="text-dark"> location_on</mat-icon></div>
                        View Map
                    </a>


                    <a class="nav-link collapsed text-dark" href="#" data-bs-toggle="collapse"
                        data-bs-target="#collapsePages" *ngIf="isUserOwner" aria-expanded="false"
                        aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns text-dark"></i></div>
                        Managed Houses
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link text-dark" routerLink="ownedboardinghouse">List Owned House</a>

                        </nav>
                    </div>
                    <a class="nav-link text-dark" routerLink="roombooking" *ngIf="isUserOwner">
                        <div class="sb-nav-link-icon"><mat-icon class="text-dark">perm_contact_calendar</mat-icon></div>
                        Room Booking
                    </a>
                    <a class="nav-link text-dark" routerLink="report" *ngIf="isUserOwner">
                        <div class="sb-nav-link-icon"><mat-icon class="text-dark">perm_contact_calendar</mat-icon></div>
                        Reports
                    </a>
                    <a class="nav-link text-dark" routerLink="login" (click)="logout()">
                        <div class="sb-nav-link-icon text-dark"><i class="fas fa-sign-out-alt text-dark"></i></div>
                        Log Out
                    </a>

                </div>
            </div>

        </nav>
    </div>
    <div id="layoutSidenav_content">
        <router-outlet></router-outlet>
        <footer class="py-4  mt-auto">
        </footer>
    </div>
</div>