<section class="vh-100"
    style="background: url('https://images.pexels.com/photos/1546166/pexels-photo-1546166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');background-size: cover;">
    <div class="container py-5 h-100">
        <form [formGroup]="form" class="example-form p-1 text-center" (ngSubmit)="submitForm()">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <!-- Logo Section -->
                                    <div class="text-center mb-4">
                                        <img src="../../../assets/img/logo.png" alt="Logo" class="img-fluid"
                                            style="max-width: 150px;">
                                    </div>

                                    <div class="form-group">
                                        <label class="fs-1">Create Account</label>
                                    </div>
                                    <hr>
                                    <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)"
                                        formControlName="picture" />
                                    <hr>
                                    <div class="form-group mt-5">
                                        <input type="text" class="form-control" formControlName="fullname"
                                            placeholder="Enter your full name" required />
                                    </div>
                                    <hr>

                                    <div class="form-group">
                                        <input type="email" class="form-control" formControlName="username"
                                            placeholder="Enter your email" required />
                                        <small class="text-danger"
                                            *ngIf="form.get('username')?.touched && form.get('username')?.invalid">
                                            <span *ngIf="form.get('username')?.hasError('required')">Email is
                                                required.</span>
                                            <span *ngIf="form.get('username')?.hasError('email')">Enter a valid
                                                email address (e.g., example&#64;domain.com).</span>
                                        </small>
                                    </div>
                                    <hr>

                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="phone"
                                            placeholder="Enter your phone number" required />
                                        <small class="text-danger"
                                            *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
                                            <span *ngIf="form.get('phone')?.hasError('required')">Phone number
                                                is required.</span>
                                            <span *ngIf="form.get('phone')?.hasError('pattern')">Enter a valid
                                                phone number (10-12 digits).</span>
                                        </small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="address"
                                            placeholder="Enter your Address" required />
                                    </div>
                                    <hr>

                                    <div class="form-outline mb-4 position-relative">
                                        <input [type]="isPasswordVisible ? 'text' : 'password'" id="passwordField"
                                            class="form-control form-control-lg pe-5" formControlName="password"
                                            placeholder="Enter Password" />

                                        <span class="position-absolute top-50 mb-2 end-0 translate-middle-y me-3"
                                            (click)="togglePasswordVisibility()" style="cursor: pointer;">
                                            <i [ngClass]="isPasswordVisible ? 'fas fa-eye' : 'fas fa-eye-slash'"
                                                class="fs-5"></i>
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
                                        <p class="mb-5 pb-lg-2 mt-3" style="color: #393f81;">Already Have Account? <a
                                            routerLink="/login" style="color: #393f81;">Login</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
