section {
     background: url('https://images.pexels.com/photos/4784449/pexels-photo-4784449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
     height: 400px;
}

.card-container {
     height: 200px;
}

 