<section>
    <div class="row p-2">
        <div class="col-4 boarding-container">
            <div class="card-body p-3 border-1 ">
                <mat-form-field class="col-md-12 mb-3" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                </mat-form-field>
                <div class="row">
                    <div class=" mb-4" *ngFor="let element of dataSource.data">
                        <div class="card shadow">
                            <div class="card-body">
                                <img [src]="'http://localhost/bhml/uploads/' + element.picture"
                                    alt="Boarding House Image" width="200px" height="100px">
                                <h5 class="card-title text-primary">{{ element.housename }}</h5>
                                <p class="card-text text-muted"><strong>Address:</strong> {{ element.address}},
                                    Sindangan Zamboanga Del Norte</p>
                                <div class="">
                                    <button class="btn btn-outline-primary mx-2"
                                        (click)="ViewBoardingHouseDetails(element.id)">
                                        Details
                                    </button>
                                    <button class="btn btn-outline-success" (click)="BookingForm(element.id)">
                                        Book
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dataSource.length === 0" class="text-center text-danger mt-3">
                    No data matching the filter "{{ input.value }}"
                </div>
            </div>

        </div>
        <div class="col-8">
            <div class="">
                <h1 class="text-center fw-bold">Map viewing All Boarding House Locations<span
                        class="text-danger text-decoration-none ">(Click the
                        Marker to View the Description)</span></h1>
                <hr>
                <app-mapdetails></app-mapdetails>
            </div>
        </div>
    </div>




</section>