<div class="container my-5">
    <h1 class="text-center mb-4">
         House Details
        <span class="badge status-badge bg-success text-white" *ngIf="data.comp.status === '2'">
            ✅ Approved: Boarding House Submission
        </span>
        <span class="badge status-badge bg-danger text-white" *ngIf="data.comp.status === '1'">
            ❌ Declined: Boarding House Submission
        </span>
        <span class="badge status-badge bg-warning text-dark" *ngIf="data.comp.status === '0'">
            ⏳ Waiting for Admin Approval
        </span>
    </h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="image-container">
            
                <img [src]="'https://localhost/bhml/uploads/' + data.comp.picture" alt="Boarding House Image" width="300"
                    height="300" class="rounded-circle styled-img">
            </div>

            <h2 class="card-title text-primary mt-3">{{data.comp.housename}}</h2>
            <p><strong>Location:</strong> {{data.comp.houseaddress}}, Sindangan Zamboanga Del Norte</p>

            <p><strong>Room Available:</strong></p>
            <ul>
                <li>{{data.comp.room}}</li>
            </ul>

            <p><strong>Price:</strong></p>
            <ul>
                <li>{{data.comp.price}}</li>
            </ul>

            <p><strong>Facilities:</strong> {{data.comp.amenities}}</p>
        </div>
    </div>
    <div class="image-container">
        <img [src]="'https://boardinghouseapi.masterpiecesolutions.site/uploads/' + data.comp.owner_picture" alt="Owner Profile" width="300"
        height="300" class="rounded-circle styled-img">
    </div>
    <h1 class="text-center mb-4">Owner Details</h1>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title text-primary">{{data.comp.fullname}}</h2>
            <p><strong>Address:</strong> {{data.comp.owneraddress}}</p>
            <p>The owner is dedicated to providing excellent service and support during your stay.</p>

            <p><strong>Phone:</strong></p>
            <ul>
                <li>{{data.comp.phone}}</li>
            </ul>
            <p>For inquiries or bookings, feel free to call the owner for assistance.</p>

            <p><strong>Username:</strong></p>
            <ul>
                <li>{{data.comp.username}}</li>
            </ul>
            <p>Use this contact for online bookings or communication with the owner.</p>
        </div>
    </div>
</div>